@import url(http://fonts.googleapis.com/css?family=Ubuntu:300);

body{
  background-color: #2d2d2d;
  color: #eee;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

h1{
  background-color: #46C6E5;
  margin: 0px;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}


input{
  position:relative;
  width:400px;
  margin: 10px 1px 1px 1px;
  font-size:1em;
  line-height: 2em;
  font-style: italic;
  border-radius: 1px;
  border: none;
  padding: 5px;
}

input.button{
  font-style: normal;
  font-size: 1.1em;
  background-color: #55CF57;
  color:#eee;
  transition: all 0.2s ease-in;
}

input.button:hover{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
}

button{
  font-size:1em;
  border-radius: 1px;
  border: none;
  margin: 1px;
  color:#fff;
  transition: all 0.2s ease-in;
}

button:hover{
  text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 2px rgba(0,0,0, 0.2);
}

.button-play{
  background-color: #55CF57;
}

.button-pause{
  background-color: #FEC376;
}

.button-delete{
  background-color: #E5334F;
}

.todo.ended{
  border: 2px solid #8149FC;
  padding: 2px;
}

.todoBox{
  position:absolute;
  width:500px;
  height: auto;
  margin: 100px -250px;
  left: 50%;
  background-color: #3d3d3d;
}

.todo.ended > button.button-play{
  background-color: #46C6E5;
}

.list-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.list-enter.list-enter-active {
  opacity: 1;
}

.list-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.list-leave.list-leave-active {
  opacity: 0.01;
}